# Archivos de sistema
__pycache__/
*.py[cod]
*.DS_Store
*.log

# Archivos de base de datos locales
db.sqlite3

# Archivos de migraciones (opcional, si no quieres subirlos)
*/migrations/*.py
!*/migrations/__init__.py

# Configuración de IDE (PyCharm, VSCode, etc)
.idea/
.vscode/

# Archivos estáticos compilados
/static/
media/